/__pycache__
/venv
/models
/data
/services/text_preprocessing/data/database
/antique_documents.db
/antique_embeddings_cache.pkl
/services/query_processing/quora/quora_documents.db
/services/query_processing/quora/quora_documents.db-journal